body {
    background: rgb(243, 237, 191);
}

.items {
    position: absolute;
}

#window-frame {
    background-color: rgb(77, 37, 9);
    width: 260px;
    height: 260px;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    gap: 10px;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-self: left;
  top: 50px;
  left: 50px;
}

#window {
    background-color: #7fb2ff;
     padding: 10px;
     text-align: center;
     height: 100px;
     width: 100px;
}

#big-frame {
    background-color: rgb(221, 221, 221);
    height: 198px;
    width: 198px;
    top: 60px;
    left: 600px;
    border: 8px solid black;
    justify-self: center;
    display: inline;
}

#table {
    background-color: rgb(77, 37, 9);
    width: 1000px;
    height: 265px;
    left: 250px;
    top: 400px;
}

#leg-left {
    background-color: rgb(49, 24, 6);
    left: 250px;
    top: 665px;
    width: 36px;
    height: 115px;
}

#leg-right {
    background-color: rgb(49, 24, 6);
    left: 1214px;
    top: 665px;
    width: 36px;
    height: 115px;
}

#eusexua {
    height: 198px;
    width: 198px;
    display: inline;
}

span {
    font-size: 72px;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

#baggu {
    width: 350px;
    position: relative;
    z-index: 1;
    left:405px;
    top: -75px;
    display: inline;
}

#journal {
    width: 200px;
    position: relative;
    z-index: 1;
    top: -20px;
    display: inline;
}

#matcha {
    width: 250px;
    position: relative;
    z-index: 1;
    left: -35px;
    top: -55px;
    display: inline;
}

#sandwich {
    width: 250px;
    position: relative;
    z-index: 1;
    left: -75px;
    top: 0px;
    display: inline;
}

#laptop {
    width: 275px;
    position: relative;
    z-index: 1;
    right: 30px;
    top: -40px;
    display: inline;
}

#candle {
    width: 300px;
    position: relative;
    z-index: 1;
    right: -100px;
    top: -250px;
    display: inline;
}