body {
    background: rgb(210, 204, 160);
}

.items {
    position: absolute;
}

#window-frame {
    background-color: rgb(77, 37, 9);
    width: 260px;
    height: 260px;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    gap: 10px;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-self: left;
  top: 50px;
  left: 50px;
}

#window {
    background-color: #0009aa;
     padding: 10px;
     text-align: center;
     height: 100px;
     width: 100px;
}

#big-frame {
    background-color: rgb(221, 221, 221);
    height: 198px;
    width: 198px;
    top: 60px;
    left: 600px;
    border: 8px solid rgb(118, 0, 0);
    justify-self: center;
    display: inline;
}

#table {
    background-color: rgb(51, 25, 6);
    width: 1000px;
    height: 265px;
    left: 250px;
    top: 400px;
}

#leg-left {
    background-color: rgb(37, 18, 5);
    left: 250px;
    top: 665px;
    width: 36px;
    height: 115px;
}

#leg-right {
    background-color: rgb(37, 18, 5);
    left: 1214px;
    top: 665px;
    width: 36px;
    height: 115px;
}

#eternal {
    height: 198px;
    width: 198px;
    display: inline;
}

span {
    font-size: 72px;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

#baggu {
    width: 350px;
    position: relative;
    z-index: 1;
    left:405px;
    top: -75px;
    display: inline;
}

#iphone {
    width: 150px;
    position: relative;
    z-index: 1;
    top: 10px;
    display: inline;
}

#water {
    width: 250px;
    position: relative;
    z-index: 1;
    left: -35px;
    top: -55px;
    display: inline;
}

#pasta {
    width: 200px;
    position: relative;
    z-index: 1;
    left: -75px;
    top: 0px;
    display: inline;
}

#paper {
    width: 275px;
    position: relative;
    z-index: 1;
    right: 30px;
    top: 40px;
    display: inline;
}

#little-mix {
    width: 200px;
    position: relative;
    z-index: 1;
    right: -140px;
    top: -185px;
    display: inline;
}