body {
    background-color: rgb(200, 200, 255);
    background-image: url("caroline-polechek.jpg");
    background-size: 480px;
    text-align: center;
    color: rgb(145, 255, 0);
    /* @font-face {
        font-family: "resistance";
        src: url("resistance.woff2");
    }
    font-family: resistance; */
    font-family: helvetica;
    -webkit-text-stroke-color: rgb(145, 255, 0);
    -webkit-text-stroke-width: 1px;
}

h1 {
    font-size: 144px;
    line-height: 0.8;
    margin-bottom: 2px;
    letter-spacing: -10px;
}

h2 {
    font-size: 60px;
    line-height: 0.9;
    margin-bottom: 2px;
    letter-spacing: -2px;
}

p {
    font-size: 72px;
    margin-bottom: 2px;
    letter-spacing: -5px;
}

a {
    font-size: 60px;
    -webkit-text-stroke-color: #91ff00;
    -webkit-text-stroke-width: 0.5px;
    letter-spacing: -1.5px;
}

a:link {
    color: rgb(145, 255, 0);
}

a:visited {
    color: rgb(145, 255, 0);
}

audio-player {
    position:relative;
    width: 40px;
    background-color: black;
   mix-blend-mode:color-dodge;
}