body {
    background-image: url("grass.gif");
    background-size: 100%;
    font-family: helvetica; 
    background-repeat: no-repeat;
    background-color: gainsboro;
}

div {
    column-count: 2;
    column-gap: 1px;
  }

  .newspaper1 {
    column-fill: auto;
}

h1 {
    color: rgb(255, 0, 221);
    font-size: 175px;
    text-align: center;
    -webkit-text-stroke-color: rgb(255, 0, 221);
    -webkit-text-stroke-width: 4px;
    letter-spacing: -20px;
    mix-blend-mode:color-dodge;
}

h3 {
    font-size: 50px;
    text-align: right;
    letter-spacing: -4px;
    -webkit-text-stroke-color: rgb(255, 0, 221);
    -webkit-text-stroke-width: 2px;
}

p {
    font-size: 25px;
    text-align: justify;
    color: black;
    letter-spacing: -1px;
}

a:link {
    color: rgb(255, 0, 221);
}

a:visited {
    color: rgb(255, 0, 221);
}