* {
    box-sizing: border-box;
} 

body {
    background-color: rgb(240, 163, 232);
    background-image: url(fifth-harmony.jpg);
    background-size: 100%;
}

img {
    max-width: 100%
}

.container {
    padding: 10px;
    background-color: rgb(70, 192, 70);
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 600px;
    align-content: space-evenly;
}

.item {
    background-color: antiquewhite;
    padding: 10px;
    border: 1px solid black;
    width: 200px;
    margin: 30px;
}

p {
    font-size: 84px;
    color: pink;
}