body {
    background: rgb(243, 237, 191);
}

.items {
    position: absolute;
}

#window-frame {
    background-color: rgb(77, 37, 9);
    width: 260px;
    height: 260px;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    gap: 10px;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-self: left;
  top: 50px;
  left: 50px;
}

#window {
    background-color: hsl(191, 100%, 88%);
     padding: 10px;
     text-align: center;
     height: 100px;
     width: 100px;
}

#big-frame {
    background-color: rgb(221, 221, 221);
    height: 198px;
    width: 198px;
    top: 60px;
    left: 600px;
    border: 8px solid rgb(143, 109, 21);
    justify-self: center;
    display: inline;
}

#table {
    background-color: rgb(77, 37, 9);
    width: 1000px;
    height: 265px;
    left: 250px;
    top: 400px;
}

#leg-left {
    background-color: rgb(49, 24, 6);
    left: 250px;
    top: 665px;
    width: 36px;
    height: 115px;
}

#leg-right {
    background-color: rgb(49, 24, 6);
    left: 1214px;
    top: 665px;
    width: 36px;
    height: 115px;
}

#dsw-bag {
    width: 450px;
    position: relative;
    z-index: 1;
    left:350px;
    top: -25px;
    display: inline;
}

#aquaphor {
    width: 100px;
    position: relative;
    z-index: 1;
    left: 175px;
    top: -20px;
    display: inline;
}

#latte {
    width: 100px;
    position: relative;
    z-index: 1;
    left: -35px;
    top: -15px;
    display: inline;
}

#toast {
    width: 250px;
    position: relative;
    z-index: 1;
    left: -50px;
    top: 40px;
    display: inline;
}

#beatty {
    height: 198px;
    width: 198px;
    display: inline;
}

#candle {
    width: 300px;
    position: relative;
    z-index: 1;
    left: 30x;
    top: -30px;
    display: inline;
}

#book {
    width: 150px;
    position: relative;
    z-index: 1;
    display: inline;
    left: -445px;
}

span {
    font-size: 72px;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}