* {
    box-sizing: border-box;
} 

body {
    background-image: url(background-4.jpg);
    background-size: 100vw 100vh;
    font-family: monospace;
}

img {
    max-width: 100%
}

.buttons {
    position: absolute;
    left: 50%; 
    bottom: 10px;
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    font-family: monospace;
    font-size: 20px;
    color: white;
}

a:link {
    color:white;
    text-decoration: none;
}

a:visited {
    color:white;
    text-decoration: none;
}